{% import '@SyliusShop/Common/Macro/sectionHeaders.html.twig' as headers %}

<section class="newsletter mb-3 d-flex align-items-center flex-wrap border border-bottom-0 text-center">
    <div class="container container-xxl">
        <h2 class="mb-8 text-center fs-30 fs-md-40">{{ headers.default('sylius.homepage.newsletter'|trans) }}</h2>
    </div>

    <div class="container container-xxl">
        <div class="col-12 d-flex justify-content-center mb-5 my-0 px-3">
            <form>
                <div class="form-row">
                    <div class="col-6 col-sm-8">
                        <input type="text" class="form-control" placeholder="{{ 'sylius.ui.email'|trans }}">
                    </div>

                    <button class="col-6 col-sm-4 btn btn-primary px-3">
                        {{ 'sylius.homepage.subscribe'|trans }}
                    </button>
                </div>
            </form>
        </div>
    </div>
</section>
